@using BootstrapV3Template.Common;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("headSection", required: false)
</head>
<body>
    <!-- Wrap all page content here -->
    <div id="wrap">

        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="~/">@Html.WebApplicationName()</a>
                </div>
                <div class="collapse navbar-collapse">
                    @Html.RenderNavigation()
                    @*<ul class="nav navbar-nav">
                        <li class="active"><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Home</a></li>
                        <li><a href="@Url.Action("Styles", "Home")"><i class="fa fa-dashboard"></i> Styles</a></li>
                        <li><a href="@Url.Action("Components", "Home")"><i class="fa fa-gear"></i> Components</a></li>
                    </ul>*@
                </div>
            </div>
        </div>

        <div class="container">
            @RenderBody()
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <p class="text-muted credit">Footer...@Html.WebApplicationName()</p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
